html {
  color: "pink";
}


body {
  color: #FFC0CB;
  padding: 50px;
  background-color: rgb(29, 29, 29);
  font-family: Helvetica;
  
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #F0F8FF;
}